.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.container {
  width: 100%;
  height: 526px;
  background-image: url("/9545e9b86afd1e9c431704007c1c0714.jfif");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.overlay {
  position: absolute;
  height: 526px;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #000000;
  opacity: 35%;
  z-index: 0;
}

.container h1 {
  color: #ffffff;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  line-height: 44px;
  font-size: 40px;
  height: 88px;
  width: 583px;
  z-index: 1;
}

.container p {
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  width: 327px;
  height: 32px;
  text-align: center;
  z-index: 1;
}

.start {
  background-color: #c3edff;
  border-radius: 8px;
  border: none;
  height: 47px;
  width: 147px;
  color: #1c2635;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 19.49px;
  z-index: 1;
}

.start {
  cursor: pointer;
}
