.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 32px;
}

.question {
  width: 583px;
  text-align: center;
  font-size: 40px;
  line-height: 44px;
  font-weight: 500;
  color: #1c2635;
  margin-top: 352px;
}

.answerContainer {
  display: flex;
  gap: 8px;
}

.thirdAnswerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 928px;
  align-items: center;
  justify-content: center;
}

.answer {
  border: 1px solid #5bc1ed;
  color: #1c2635;
  border-radius: 8px;
  padding: 14px 0px 14px 20px;
  width: 169px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.threeD {
  border: 1px solid #5bc1ed;
  color: #1c2635;
  border-radius: 8px;
  padding: 14px 0px 14px 20px;
  width: 309px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.threeF {
  border: 1px solid #5bc1ed;
  color: #1c2635;
  border-radius: 8px;
  padding: 14px 0px 14px 20px;
  width: 217px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.active {
  background-color: #daf4ff73;
}

.answer:hover,
.threeD:hover,
.threeF:hover {
  cursor: pointer;
}

.linkContainer {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.back {
  color: #677487;
  font-weight: 500;
  line-height: 19.49px;
}

.next {
  background-color: #c3edff;
  text-decoration: none;
  width: 189px;
  color: #1c2635;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  font-weight: 500;
}

.discover {
  background-color: #c3edff;
  text-decoration: none;
  color: #1c2635;
  padding: 14px 40px 14px 40px;
  border-radius: 8px;
  font-weight: 500;
}
